<div class="container">
  <div class="head-section">
    <h1 class="page-title">Recipes</h1>
  </div>

  <ul >
    <% if @recipes.empty? %>
      <li >No public recipes.</li>
    <% else %>
      <% @recipes.each do |recipe| %>
        <%=  render partial: 'common_features/recipe', locals: { recipe: recipe, public_list: true }  %>
      <% end %>
    <% end %>
  </ul>
</div>
