
  <div class="head-section">
    <h1 class="page-title">List of Recipes</h1>
    <%= link_to "New Recipe", new_recipe_path, class: "click-me" %>
  </div>

  

  <ul>
    <% if @recipes.empty? %>
      <li>No Recipes.</li>
    <% else %>
      <% @recipes.each do |recipe| %>
        <%= render partial: 'common_features/recipe', locals: { recipe: recipe, public_list: true } %>
      <% end %>
    <% end %>
  </ul>

