.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  height: 3rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.nav-container ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: flex-end;
  padding-right: 50px;
}

.nav-container a {
  text-decoration: none;
}
